@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}


.logo {
    font: 5em;
    color: #ffffff;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 600;
}

.navigation a:hover {
    background: #060020;
    color: #f9f9f9;


}

.text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


#text {
  position: absolute;
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  text-align: center;

}

#text2 {
    position: absolute;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-top: 120px;
    text-align: center;
}

#flaga {
    position: absolute;
    max-width: 250px;
    max-height: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-color: #fff;
    margin-top: 320px;
    text-align: center;

}

.text img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #060020;
    padding: 100px;
}

.sec h2 {
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 550px;
    
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
#mapa {
    max-height: 600px;
    max-width: 600px;
    margin-left: 550px;
    margin-top: 50px;
}

.Figures {
        position: relative;
        background: #060020;
        padding: 100px;
}

/* Glowna strona */

#Darnell {
    position: absolute;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-left: 645px;
    margin-top: 470px;

}
#Rich {
    position: absolute;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-left: 60px;
    margin-top: 470px;

}
#Mishone {
    position: absolute;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-left: 1100px;
    margin-top: 470px;

}

#RichP {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
  margin-left: 150px;
}

#MishoneP {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
  margin-left: 250px;
}

#DarnelP {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
  margin-left:  250px;
}

/* Glowna strona koniec*/


.Figures img {
    max-width: 300px;
    max-height: 300px;
    margin: 130px;
}

.history {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    pointer-events: none;
}
#text5 {
    font-size: 6em;
    margin-top: 350px;
    text-align: center;
    
}

#text6 {
    font-size: 3em;
    color: white;
    text-align: center;
}

/* main strona no i pro */
.historia {
    position: relative;
    background: #060020;
    padding: 100px;
}

.historia h2 {
  font-size: 4em;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;

}

.historia p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

/* strona "historia" */

.historiaa {
  position: relative;
  background: #24271D;
  padding: 100px;
}

.historiaa h2 {
font-size: 4em;
color: #ffffff;
margin-bottom: 10px;
text-align: center;

}

.historiaa p {
font-size: 1em;
color: #fff;
font-weight: 300;
}

/* strona "for tourists" */

.toruists {
  position: relative;
  background: #485354;
  padding: 100px;
}

.toruists h2 {
font-size: 4em;
color: #ffffff;
margin-bottom: 10px;
text-align: center;

}

.toruists p {
font-size: 1em;
color: #fff;
font-weight: 300;
}

/* strona "nature" */

.naturaa {
  position: relative;
  background: #327031;
  padding: 100px;
}

.naturaa h2 {
font-size: 4em;
color: #ffffff;
margin-bottom: 10px;
text-align: center;

}

.naturaa p {
font-size: 1em;
color: #fff;
font-weight: 300;
}

/* to cos na dole co mowi nasze imie thumbsup" */

.bottoml {
  position: relative;
  background: #000000;
  padding: 100px;

  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.Nature {
    position: relative;
    background: #060020;
    padding: 100px;
}

/* there is the fucking screen size for mobile :D */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* xs */
  @media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* sm */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* md */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  
  /* and that is the deskopt :D */

  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }